{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="clearfix post-container" itemscope itemtype="http://schema.org/BlogPosting" role="main">
    {{! blog-date include }}
    {{> blog-date}}

    <h1 itemprop="name headline"><a href="{{url}}">{{{title}}}</a></h1>

    <p>{{tags prefix="Tagged with: "}}</p>

    {{#if image}}
      <img class="img-thumbnail" src="{{image}}" />
    {{/if}}

    <p itemprop="articleBody text">{{excerpt}}&hellip;</p>

    <p><a href="{{url}}">Read More</a></p>

    <div class="post-footer row">
      <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="author col-sm-12">
          <span rel="author" itemprop="url name">Posted by {{author}}</span>
      </div>
    </div>
</div>
{{/foreach}}
